<%= javascript_include_tag 'admin/spree_cms/cms_contents/form' %>

<div data-hook="admin_cms_section_cms_content_form_fields">

  <div class="field alpha twelve columns" data-hook="admin_cms_content_form_top"></div>

  <div class="left twelve columns" data-hook="admin_cms_content_form_top">
    <%= f.field_container :seq do %>
        <%= f.label :seq, t(:seq) %>
        <%= f.text_field :seq, :class => 'fullwidth' %>
        <%= f.error_message_on :seq %>
    <% end %>
  </div>

  <div class="right six columns alpha" data-hook="admin_cms_content_form_left">
    <%= f.field_container :date_available do %>
        <%= f.label :seq, t(:date_available) %>
        <%= f.text_field :date_available, :value => datepicker_field_value(@cms_content.date_available), :class => 'fullwidth datepicker' %>
        <%= f.error_message_on :date_available %>
    <% end %>
  </div>

  <div class="right six columns omega" data-hook="admin_cms_content_form_right">
    <%= f.field_container :expiration_date do %>
        <%= f.label :seq, t(:expiration_date) %>
        <%= f.text_field :expiration_date, :value => datepicker_field_value(@cms_content.expiration_date), :class => 'fullwidth datepicker' %>
        <%= f.error_message_on :expiration_date %>
    <% end %>
  </div>

  <div class="field alpha twelve columns" data-hook="admin_cms_content_form_bottom">
    <%= f.field_container :text do %>
        <%= f.label :text, t(:text) %>
        <%= f.text_area :text, {:rows => 8, :class => 'fullwidth'} %>
        <%= f.error_message_on :text %>
    <% end %>
  </div>

</div>

<div class="clear"></div>

<%= f.hidden_field :cms_section_id, value: @cms_section.id %>