<% content_for :page_title do %>
    Modification de la section '<%= @cms_section.code %>'
<% end %>

<% content_for :sidebar_title do %>
    <span class="code"><%= @cms_section.code %></span>
<% end %>

<% content_for :sidebar do %>
    <nav class="menu">
      <ul data-hook="admin_cms_section_tabs">
        <li<%== ' class="active"' if current == 'section edit' %>>
          <%= link_to_with_icon 'icon-edit', 'Details', edit_admin_cms_section_url(@cms_section) %>
        </li>
        <li<%== ' class="active"' if current == 'contents' %>>
          <%= link_to_with_icon 'icon-contenu', 'Contents', admin_cms_section_cms_contents_url(@cms_section) %>
        </li>
      </ul>
    </nav>

<% end %>
